* {
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 9, 14);
}


/* Heading */

.mainHeading {
  text-align: center;
  margin-top: 2rem;
  color: rgb(224, 8, 8);
}

.subHeading {
  text-align: center;
  color: rgb(12, 94, 114);
}

/* Todo Input */

.todoInput {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 3.5rem;
  /* background-color: rgb(10, 101, 221); */
  /* box-shadow: 0 0 2px 1px rgb(255, 255, 255); */
  /* margin: auto; */
  margin-top: 1rem;
  border-radius: .25rem;
}


.inputField input {
  width: 98%;
  height: 80%;
  border: unset;
  border-radius: .25rem;
  outline: none;
  font-size: x-large;
  font-family: inherit;
  font-weight: bold;
  margin: 2%;

}

.buttons {
  width: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  cursor: pointer;
}

.erase-button {
  color: brown;
  font-size: x-large;
}

.add-button {
  color: brown;
  font-size: x-large;
}

/* Containers */
/* 
.allContainers{
  display: flex;
  justify-content: space-evenly;
} */

/* Container */

.container {
  /* position: fixed; */
  /* position: absolute;
  left: 50%;
  transform: translate(-64%); */

  background-color: seagreen;
  /* width: 27%; */
  margin-top: 2.5%;
  margin-left: 2.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  float: left;
  /* To make all containers in a line */
  width: calc((100vw - 130px)/3);
}

.container h3 {
  /* color: rgb(153, 0, 255); */
  text-align: center;
}

.complete {
  position: absolute;
  left: 0%;
  /* transform: translate(2%); */
}

.ongoing {
  position: absolute;
  left: 50%;
  transform: translate(-57%);
}

.dropped {
  position: absolute;
  left: 50%;
  transform: translate(52%);
}

/* Container DoneList */

.container .toDoList {
  width: 90%;
  height: 100%;
  background-color: rgb(241, 241, 241, 0.2);
  margin-top: .5rem;
  padding: 5px;
  border-radius: .25rem;
  transition: width 200ms;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.container .toDoList:hover {

  background-color: rgba(241, 241, 241, 0.313);
  width: 95%;
}

.toDoListText {
  /* word-wrap: break-word;   //better way
   text-align: justify; */

  /* width: 25.5vw;
  word-wrap: break-word; */

  word-break: break-all;
  /* better way */
  /* cursor: pointer; */
  color: rgba(1, 31, 39, 0.829);
  font-size: large;
  font-weight: 500;
  /* text-align: justify; */
}

.textChecked {
  text-decoration: line-through;
  text-decoration-color: rgb(255, 0, 0);
  text-decoration-style: double;
}

.delete {
  color: rgba(255, 0, 0, 0.651);
  /* padding-left: 10px; */
}

.delete:hover {

  color: rgb(98, 0, 255);
  transform: scale(1.2);
}

/* .addtocompletelist{
  padding-right: 10px;
} */

.addtocompletelist:hover {

  color: rgb(23, 253, 61);
  transform: scale(1.2);
}

.drop {
  color: orange;
}

.drop:hover {
  color: rgb(253, 211, 23);
  transform: scale(1.3);
}

.retrieve {
  color: blue;
}

.retrieve:hover {
  color: rgb(20, 101, 167);
  transform: scale(1.2);
}

.drop_delete {
  display: flex;
  flex-direction: column;
}

.todoTime {
  width: 100%;
  font-size: small;
  text-align: center;
  margin-top: -19px;
}

.text_time {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.completed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media only screen and (max-width:885px) {

  .ongoing {
    width: fit-content;
  }

  .dropped {
    width: fit-content;
  }

  .complete {
    width: fit-content;
  }

} */

/* styles for mobile browsers smaller than 480px; (iPhone) */
/* @media only screen and (max-device-width: 480px) {
 

  .ongoing {
    width: 164px;
    transform: translate(-49%);
  }

  .dropped {
    transform: translate(70%);
    width: 129px;
  }

  .complete {
    width: 142px;
    transform: translate(-4%)
  }
} */



/* @media only screen and (max-device-width: 900px) {

  .containers{
    height: 100vh;
    display: flex;
    flex-direction: row;
    float: none;
  }
} */
